<div>

    <div style="height:25px"></div>

    <button type="button" class="btn btn-primary" ng-click="vm.newTab()">New Tab</button>

    <div style="height:5px"></div>

    <uib-tabset>
        <uib-tab ng-repeat="tab in vm.tabs" active="tab.active" disable="tab.disabled">

            <uib-tab-heading>
                <span class="conn-tab-title">{{tab.title}}</span> <button type="button" class="close" aria-label="Close" ng-click="vm.closeTab(tab)" ng-disabled="!tab.active"><span aria-hidden="true">&times;</span></button>
            </uib-tab-heading>

            <div>
                <div class="btn-toolbar" role="toolbar" aria-label="Sql">

                    <div class="btn-group" role="group" aria-label="Command">
                        <button type="button" class="btn btn-default" ng-click="vm.executeCommand(tab, tab.editor)" tooltip="Run command (Ctr+Enter)">Run</button>
                    </div>
                </div>

                <div ui-ace="tab.aceOptions" style="height:500px;" ng-model="tab.sql"></div>

                <div ng-if="vm.errorMessage == null">
                    <table class="table table-bordered table-condensed table-striped table-responsive">
                        <thead>
                            <tr>
                                <th ng-repeat="col in vm.columns" ng-bind="col.name"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="100%">
                                    <span ng-if="vm.recordsAffected == null">Results: {{vm.rows.length}}</span>
                                    <span ng-if="vm.recordsAffected != null">Records Affected {{vm.recordsAffected}}</span>
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="row in vm.rows">
                                <td ng-repeat="col in vm.columns" ng-bind="row[col.fieldName]"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="vm.errorMessage != null" class="alert alert-danger" role="alert">
                    <strong>Error:</strong> <span ng-bind="vm.errorMessage"></span>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>